@import '~bootstrap/scss/bootstrap';
@import './font-muli';
@import './font-roboto-slab';

$color-white: #fff;
$color-dark-gray: #333;
$color-light-gray: #ddd;

* {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

html,
body {
  color: $color-white;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $color-dark-gray;
  background-size: cover;
  color: $color-white;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  color: $color-light-gray !important;
}

.app-name {
  font-weight: 400;
  margin: 0 !important;
}

.author-container {
  font-size: .8rem;
  font-weight: 300;
}

.time-container {
  color: $color-white;
  font-size: 8rem;
  font-weight: 800;
}

.date-container {
  color: $color-white !important;
  font-size: 2rem;
  font-weight: 400;
  margin-top: -1rem;
}

.greeting-container {
  color: $color-white;
  font-size: 5rem;
  font-weight: 600;
}

.quote-container {
  font-size: 1.2rem;
  font-weight: 400;

  p {
    padding: 0 4rem;
  }

  .quote-author {
    font-style: italic;
    margin-top: -1rem;
  }
}

.weather-container {

  .weather-location {
    font-weight: 300;
  }

  .weather-icon,
  .weather-temp {
    font-weight: 800;
  }

  .powered-by-climacell {
    font-size: .6rem;
    font-weight: 200;
    position: relative;
    top: -.6rem;
  }
}

.footer {
  font-size: .8rem;
  font-weight: 200;
  line-height: 20px;
}

.content-icon {
  font-size: 2rem;
}
